.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 3.2rem;
}
.LogoLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    text-decoration: none;
    color:var(--primary);
    font-size: 4.2rem;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}
.LogoLink svg{
    width: 6.4rem ;
    height: 6.4rem;
    }

.LogoLink :hover{
    filter: brightness(50%);
}