:root{
    --gray-100: #e5e8f0;
    --gray-200: #cdd2e1;
    --gray-300: #aab3cc;
    --gray-400: #555f7d;
    --gray-500: #454f6a;
    --gray-600: #363d56;
    --gray-700: #272f43;
    --gray-800: #181f2e;
    --gray-900: #0a0f1a;

    --primary-light: #4de7b7;
    --primary: #0da170;
    --primary-dark: #065f46;

    --link-color: #10b981;
    --link-hover: #0b8a60;

    --success: #22c55e;
    --warning: #eab308;
    --error: #991b1b;
    --info: #0ea5e9;

    --text-over-primary: #0a0f1a;
    --text-over-primary-dark: #e6e9f0;
    --text-over-primary-light: #0a0f1a;
    --text-over-success: #0a0f1a;
    --text-over-warning: #0a0f1a;
    --text-over-error: #e6e9f0;
    --text-over-info: #0a0f1a;

    --text-default: #e6e9f0;
    --text-muted: #aab3cc;

    --disabled: #555f7d;
    --text-disabled: #aab3cc;

}

:root[data-theme="light"]{
    --gray-100: #0A0D1A;
    --gray-200: #181D2E;
    --gray-300: #272F43;
    --gray-400: #363D56;
    --gray-500: #454F6A;
    --gray-600: #555F7D;
    --gray-700: #AAB2CC;
    --gray-800: #CDD3E1;
    --gray-900: #E6E9F0;

    --text-default: #0A0F1A;
    --text-muted: #272F43;

    --link-color: #0B8A60;
    --link-hover: #065F46;
}